@import '~/assets/styles/partials/default-theme/theme.scss';
.mainWrapper {
  padding: 0 30px;
  .pageTitle {
    .contact {
      font-size: 26px;
      line-height: 1.4;
      text-transform: capitalize;
      color: var(--primaryColor);
    }
    padding-bottom: 30px;
    @media (max-width: 660px) {
      display: none;
    }
  }
  .desc {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 15px;
    .title {
      display: flex;
      align-items: center;
      .one {
        font-size: 50px;
        line-height: 1.7;
        font-weight: 700;
        text-transform: capitalize;
        color: var(--primaryColor);
        @media (max-width: 660px) {
          font-size: 30px;
          line-height: 1.6;
        }
        @media (max-width: 390px) {
          font-size: 20px;
        }
      }
      .two {
        padding-left: 10px;
        font-size: 50px;
        line-height: 1.7;
        font-weight: 700;
        text-transform: capitalize;
        color: black;
        @media (max-width: 660px) {
          padding: 5px;
          font-size: 30px;
          line-height: 1.6;
        }
        @media (max-width: 390px) {
          font-size: 20px;
        }
      }
      .text {
        font-size: 24px;
        line-height: 3;
        color: var(--primaryTextColor);
        font-weight: 400;
        @media (max-width: 660px) {
          font-size: 14px;
          line-height: 3;
        }
      }
      .explore {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.3;
        color: var(--primaryTextColor);
        text-transform: capitalize;
        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }
  .subscribeSection {
    padding: 15px 0;
    @media (max-width: 990px) {
      margin: 0 -30px;
    }
  }
}
