@import '~/assets/styles/partials/theme.scss';
.deal-card {
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  .inner-box {
    padding: 0 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    @media (max-width: 340px) {
      max-width: 230px;
    }
  }
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 450px) {
      align-items: flex-start;
      justify-content: flex-start;
    }
    & > figure {
      position: relative;
      width: 205px;
      height: 0;
      padding-bottom: calc(100% / 205 * 102);
      & > img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
        top: 0;
        left: 0;

        object-position: center center;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    .contentText {
      padding: 10px 0;
    }
    .caption {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      color: var(--blackTextColor);
    }
    .title {
      font-size: 16px;
      line-height: 1.6;
      font-weight: 600;
      color: var(--blackTextColor);

      @include trim(2);
    }
    .used-count {
      font-size: 14px;
      line-height: 1.5;
      color: var(--greyTextColor);
      font-weight: 400;
    }
  }
}
.deals {
  position: relative;
  flex: 1 1 100%;
  width: 100%;
  margin-bottom: 15px;

  .coupon-button {
    font-size: 14px;
  }

  .deal {
    color: #fff;
    width: 100%;
    font-weight: 700;
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 0px;
    border-radius: 25px;
    cursor: pointer;
    // background-color: var(--secondaryColor);
    background: var(--disabledBtn);
    // @include transition(all 0.2s linear);
    // @include border-radius(3px);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--primaryContrastColor);
    }
  }
}

@media (max-width: 1440px) {
  .deals {
    .deal {
      height: 42px;
      line-height: 42px;
    }
  }

  @media (max-width: 1280px) {
    .deals {
      .deal {
        height: 36px;
        line-height: 36px;
      }
    }
  }
}

/* Code Button */
.codes {
  position: relative;
  flex: 1 1 100%;
  width: 100%;
  margin-bottom: 15px;

  .codeButton {
    .flipButton {
      line-height: 1;
      position: relative;
      border-radius: 25px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      transition: background-color 500ms ease 0s, border-color 500ms ease 0s,
        color 500ms ease 0s, fill 500ms ease 0s;
      -webkit-font-smoothing: antialiased;
      // border: thin solid var(--primaryColor);
      background-color: var(--primaryColor);
      color: white;
      font-size: 14px;
      height: 48px;
      width: 100%;
      // padding: 0px 2rem;
      outline: none !important;
      display: inline-flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;

      &:hover,
      &:focus,
      &:active {
        background-color: var(--primaryColor);
        // border: thin solid var(--primaryContrastColor);

        > .flipLight {
          opacity: 0;
        }

        > .flipDark,
        > .flipLight {
          width: 1.7rem;
          height: 1.7rem;
        }
      }

      div {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .flipDark {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    // transition: opacity 500ms ease 0s;
    background: linear-gradient(
      45deg,
      darken($disabledBtn, 1%),
      darken($disabledBtn, 1%) 50%,
      lighten($white, 30) 0px
    );
    border-radius: 0 18px 0 14px;
    border-top: 1px dashed var(--primaryColor);
    border-right: 1px dashed var(--primaryColor);
    @include transition(
      width 300ms linear,
      height 300ms linear,
      opacity 300ms ease 0s
    );
  }

  .flipLight {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    // transition: opacity 300ms ease 0s;
    background: linear-gradient(
      45deg,
      lighten($disabledBtn, 1%),
      lighten($disabledBtn, 1%) 50%,
      lighten($white, 30) 0px
    );
    border-radius: 0 25px 0 33px;
    border-top: 1px dashed var(--primaryColor);
    border-right: 1px dashed var(--primaryColor);
    @include transition(
      width 300ms linear,
      height 300ms linear,
      opacity 300ms ease 0s
    );
  }
}

@media (max-width: 1440px) {
  .codes {
    .codeButton {
      .flipButton {
        height: 42px;
        line-height: 42px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .buttonsWrapper {
    .codeButton {
      .flipButton {
        height: 36px;
        line-height: 36px;
      }
    }
  }
}
@media (max-width: 540px) {
  .deal-card {
    .image-container {
      position: relative;
      & > figure {
        position: absolute;

        width: 90px;
        height: 90px;
        top: -13px;
        left: -20px;
        padding: 0;
        padding: 0;
      }
    }
    .content {
      position: relative;
      width: 100%;
      .contentText {
        min-width: 290px;
        padding: 0px 0px 10px 80px;
      }
    }
  }
}
@media (max-width: 440px) {
  .deal-card {
    .content {
      .contentText {
        padding-left: 70px;
        min-width: 210px;
      }
    }
  }
}
@media (max-width: 380px) {
  .deal-card {
    .inner-box {
      .image-container {
        position: relative;
        & > figure {
          width: 75px;
          height: 80px;
          top: -10px;
          left: -25px;
          padding: 0;
        }
      }
    }
    .content {
      .contentText {
        padding-left: 60px;
      }
    }
  }
}
@media (max-width: 350px) {
  .deal-card {
    .content {
      .contentText {
        padding-left: 45px;
        min-width: 200px;
      }
    }
  }
}
